<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}">
</head>
<body>
    <div class="container">
        <form id="login-form" class="form">
            <h1>Login</h1>
            <label for="login-username">Username:</label>
            <input type="text" id="email" name="login-username" required>
            
            <label for="login-password">Password:</label>
            <input type="password" id="password" name="login-password" required>
            
            <label for="remember-me">Remember me</label>
            <input type="checkbox" id="remember-me" name="remember-me">
            
            <button type="button" onclick="login()">Login</button>
        </form>

        <form id="signup-form" class="form">
            <h1>Sign Up</h1>
            <label for="signup-fullname">Full Name:</label>
            <input type="text" id="signup-fullname" name="signup-fullname" required>

            <label for="signup-email">Email:</label>
            <input type="email" id="signup-email" name="signup-email" required>
            
            <label for="signup-password">Password:</label>
            <input type="password" id="signup-password" name="signup-password" required>

            <label for="faculty">Faculty:</label>
            <select id="faculty" name="faculty" required>
                <option value="" disabled selected>Select Faculty</option>
                <option value="engineering">Кібербезпека</option>
                <option value="science">Комп. науки</option>
                <option value="arts">Телекомунікація</option>
            </select>
            
            <label for="course">Course:</label>
            <input type="checkbox" id="course-1" name="course-1">
            <label for="course-1">1</label>
            <input type="checkbox" id="course-2" name="course-2">
            <label for="course-2">2</label>
            <input type="checkbox" id="course-3" name="course-3">
            <label for="course-3">3</label>
            <input type="checkbox" id="course-4" name="course-4">
            <label for="course-4">4</label>

            <select id="group" name="Group" required>
                <option value="" disabled selected>Обрати групу</option>
                <option value="engineering">С-91</option>
                <option value="science">С-02</option>
                <option value="arts">С-22</option>
            </select>
            
            <button type="button" onclick="signup()">Sign Up</button>
        </form>
    </div>
    <script src="{{url_for('js', path='login.js')}}"></script>
</body>
</html>
