body {
  font-family: 'Courier New', monospace;
  background-color: #000;
  color: #0f0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between; /* space-around було замінено на space-between */
  width: 600px; /* Додано фіксовану ширину контейнера */
}

/* Log In form styles */
#login-form {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  text-align: center;
  width: 250px;
}

#login-form label {
  display: block;
  margin-bottom: 8px;
  color: #0f0;
}

#login-form input,
#login-form select,
#login-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0f0;
  border-radius: 4px;
  background-color: #000;
  color: #0f0;
}

#login-form button {
  background-color: #00f;
  color: #fff;
  cursor: pointer;
  border: 1px solid #0f0;
}

#login-form button:hover {
  background-color: #0f0;
}

#login-form h1 {
  color: #0f0;
}

/* Sign Up form styles */
#signup-form {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  text-align: center;
  width: 250px;
}

#signup-form label {
  display: block;
  margin-bottom: 8px;
  color: #0f0;
}

#signup-form input,
#signup-form select,
#signup-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0f0;
    border-radius: 4px;
    background-color: #000;
    color: #0f0;
}

#signup-form button {
    background-color: #00f;
    color: #fff;
    cursor: pointer;
    border: 1px solid #0f0;
}

#signup-form button:hover {
    background-color: #0f0;
}

#signup-form h1 {
    color: #0f0;
}